@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Fjalla+One&family=Ubuntu+Condensed&display=swap');

#cen {
    padding: 20px 0px 20px 0px;
    background-color: rgb(67 100 139);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
img#char {
    border-radius: 0px;
background-color: transparent;

}
h1#spec {
    margin: 0px 0px 0px 5px;
    display: inline-block;
    color: white;
    font-family: 'Aclonica', sans-serif;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.287);
    font-size: 2em;
}