
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --mainblue: #0348AC;
    --side1blue: #9bc3ff;
    --side2blue: rgb(225, 255, 255);
    --gold: #FFC824;
    --calsans: 'Cal Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
}
body {
    margin: 0px;
    margin-bottom: 50px;
}
header {
    position: relative;
    background-color: var(--mainblue);
    color: var(--gold);
    font-weight: 600;
    padding: clamp(8px,3vw,24px) 10px clamp(6px,2vw,18px) 10px;
    border-bottom: 4px solid var(--gold);
    font-family: sans-serif;
    margin-bottom: 45px;
     display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.2px;
    justify-content: center;
   
     span {
    font-family: var(--roboto);
    font-size: clamp(0.95rem,3vw,1.4rem);
    }

> img {
    width: clamp(16px,3vw,25px);
    background-color: var(--lightcorespigão);
    padding: 4px;
    border-radius: 4px;
}
}

section {
    margin-top: clamp(0px, 6vw, 85px);
}
h1,h2 {
    text-align: center;
    padding: 20px 5px;
    margin: 0px;
    font-family: var(--calsans);
}

p {
    font-family: var(--roboto);
    color: var(--mainblue);
    font-weight: 700;
}

h1 {
 font-size: clamp(1.8rem, 5vw, 2.5rem);
    color: var(--mainblue);
    line-height: 50px;
}

h2 {
    color: var(--mainblue);
    font-size: clamp(0.95rem, 2vw, 1.17rem);
}

a {
    text-decoration: none;
}

    button {
            display: block;
            height: 15%;
            background-color: var(--mainblue);
            border: none;
            padding: 10px 15px;
            border-radius: 7px;
            margin: clamp(7px, 1vw, 20px) auto;
            color: white;

        }

        button:hover {
            outline: 2.6px solid var(--gold);
            color: var(--gold);
            cursor: pointer;
        }

          a {
                color: white;
            }

         button:hover > a {
            color: var(--gold);
        }

    section#intro {
        margin-top: clamp(55px, 4vw, 80px);
        display: flex;
        flex-direction: row;
        background-color: var(--side2blue);
        align-items: stretch;
        flex-wrap: wrap;

        h2 {
            font-size: clamp(1.8rem, 5vw, 2.5rem);
            width: 50%;
            background-color: var(--mainblue);
            color: white;
            flex-grow: 1;
            box-sizing: border-box;
            padding: 85px 15px;
            min-width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            font-size: clamp(0.9rem, 1.5vw, 1.2rem);
            background-color: var(--side2blue);
            width: 50%;
            color: var(--mainblue);
            box-sizing: border-box;
            padding: 85px 30px;
            min-width: 350px;
            flex-grow: 1;
            margin: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

#tool-examples {
    display: flex;
    justify-content: center;
    margin-top: clamp(55px, 4.7vw, 90px);
    gap: clamp(25px, 4vw, 170px);
    flex-wrap: wrap;
    background-color: var(--side2blue);
    padding: 30px 0px;

    .example {
        background-color: var(--side1blue);
        padding: 20px;
        border: 5px solid var(--side1blue);
        /*flex: 1 1 250px;*/
        max-width: 320px;
        border-radius: 10px;
        /*height: clamp(250px, 20vw, 400px);*/
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            flex-grow: 0;
            flex-shrink: 0;
            height: 85%;
        }

        button {
            margin: 0px;
            margin-top: 10px;
        }
    }
    
     .example:hover {
            cursor: pointer;
            box-shadow: 0 0 10px var(--mainblue);
        }

    }