body {
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.589);
    /*background-color: white;*/
    font-family: Arial, Helvetica, sans-serif;
}
* {
    cursor: default;
}
#selc {
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 336px;
  z-index:0;
  height: 72px;
  display: none;
  
}

#arrow {
    display: inline-block;
    position: relative;
    top: 3px;
    left: -6px;
    background-color: rgb(216, 216, 216);
    border: 2px solid black;
    font-size: 1.5em;
    height: 68px;
    width: 50px;
}
#al {
margin: auto;
width: fit-content;
}
#abs {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: powderblue;
}
div.ali  {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}
.p2 {
display: inline-block;
position: relative;
}
.p2 > p {
display: none;
}
.p2:hover > p {
display: inline-block; 
margin: 0px;
background-color: pink;
}
.inform2 {
font-size: 0.7em;
font-family: sans-serif;
font-weight: bold;
display: grid;
align-items: center;
justify-items: end;
position: absolute;
padding: 6px 6px 5px 6px;
border-radius: 5px ;
color: white;
background-color: black;
}
.thingo2 {
position: absolute;
max-width: 11.8px;
max-height: 11.2px; 
width: 15px;
height: 15px;
transform: rotate(-44deg);
background-color: black;
right: -1.8px;
z-index: -2;
}
.ad2 {
    transition-property: opacity;
    transition-duration: 2s;
    left: -100%;
    opacity: 0;
    display:grid;
    align-items: center;
    justify-items: end;
    position: absolute;
    left: -104%;
    top: 0%;
    width: 100%;
    height: 100%;
}
.p2:hover > .ad2 {
    transition-property: opacity;
transition-duration: 2s;
left: -100%;
opacity: 100;
display:grid;
align-items: center;
justify-items: end;
position: absolute;
left: -104%;
top: 0%;
width: 100%;
height: 100%;
}

.inline {
display: inline-block;
}
.p {
display: inline-block;
position: relative;
z-index: 1;
color: black;;
}
.p > p {
margin: 0px;
display: inline;

}

.inform {
font-size: 0.7em;
font-family: sans-serif;
font-weight: bold;
display: grid;
justify-items: center;
position: absolute;
min-width: 25px;
width: max-content;
padding: 6px 6px 5px 6px;
border-radius: 5px ;
top: 7%;
color: white;
background-color: black;
}
.thingo {
position: absolute;
max-width: 11.8px;
max-height: 11.2px;
top: -1px;
z-index: -1;
width: 15px;
height: 15px;
transform: rotate(-44deg);
background-color: black;
}
.ad {
transition-duration: 0.5s;
opacity:0;
display: grid;
justify-items: center;
position: absolute;
width: 100%;
height: 300%;
background-color: transparent;
}
.p:hover .ad {
transition-duration: 0.5s;
opacity: 100;
display: grid;
}

option {
    position: relative;
    text-align: center;
    display: inline-flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 160, 221, 0.705);
    border: 1px solid black;
    font-size: 1.5em;
    height: 50px;
    min-width: 50px;
    width: fit-content;
    color: rgb(133, 133, 133);
}
input#numb {
    width: 90px;
    position: relative;
}
input[type= "number"] {
    cursor: text;
}
input {
    margin-top: 5px;
    margin-bottom: 0px;
}
p {
   margin-top: 1px;
   margin-bottom: 10px;
    text-align: center;
    
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}
h1#spec {
    margin-bottom: 0px;
}
input#freq {
    width: 50px;
}
input#interclass {
    width: 40px;
}
input#submit {
    top: 5px;
}
.instruction {
   transition-duration: 1s;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
   background-color: white;
   z-index: 20;
 margin: 0;
 position: absolute;
 top: 110%;
 left: 20%;
 display: inline-block;
 opacity: 0;
}


.p3 {
    display: inline-block;
    position: relative;
    }
    .p3 > p {
    display: none;
    }
    .p3:hover > p {
    display: inline-block; 
    margin: 0px;
    background-color: pink;
    }
    .inform3 {
    font-size: 0.7em;
    font-family: sans-serif;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-items: end;
    position: absolute;
    min-width: 25px;
    width: max-content;
    padding: 6px 6px 5px 6px;
    border-radius: 5px ;
    color: white;
    background-color: black;
    z-index: 2;
    left: 7%;
    }
    .thingo3 {
    position: absolute;
    max-width: 11.8px;
    max-height: 11.2px;
    z-index: -1;
    width: 15px;
    height: 15px;
    transform: rotate(-44deg);
    background-color: black;
    left:-2.4px;
    }
    .ad3 {
        opacity: 0;
        transition-duration: 0.5s;
    left: -100%;
    display: grid;
    align-items: center;
    justify-items: auto;
    position: absolute;
    left: 105%;
    top: 0%;
    width: 100%;
    height: 100%;
    }
    .p3:hover > .ad3 {
        transition-duration: 0.5s;
        opacity: 100;
    left: -100%;
    display:grid;
    align-items: center;
    justify-items: auto;
    position: absolute;
    left: 105%;
    top: 0%;
    width: 100%;
    height: 100%;
    }
    
    table {
        border-collapse: collapse;
        font-family: Arial, Helvetica, sans-serif;
    }
    td, th {
        border: 1px solid black;
        padding: 5px 15px 5px 15px;
        width: 80px;
    }
    tr {
        background-color: white;
    }
    th {
        background-color: rgb(65, 169, 195);
        color: white;
    }
    td {
        text-align: center;
    }
    #fa {
        display: none;
    }
    #acum {
        display: none;
    }
    #porc {
        display: none;
    } 
    #fra {
        display: none;
    }
    @keyframes slide {
        0% {
            opacity: 0;
            transform: translate(10px, 10px);
        }
        100% {
            opacity: 100;
        }
    }
    #graph {
        position: relative;
        height: 305px;
        margin: auto;
        background-color: white;
        border: 1px solid black;
        display: grid;
        align-items: end;
        margin-bottom: 10px;
        margin-top: 0px;
        width: 85vw;
        z-index: 3;
    }
    hr {
        position: absolute;
        bottom: 0;
        left: -1%;
        margin: 0;
        width: calc(100.8%);
        overflow: visible;
        border-color: black;
        background-color: black;
        height: 0;
        padding: 0;
        z-index: 0;
    }
    hr.hr0 {
    width: 4px;
    left: -6px;
    bottom: -1px;
    }

    .bar {
        position: absolute;
        display: grid;
        justify-items: center;
        height: 0px;
        z-index: 1;
    }

   hr > p {
       margin: 0;
       display: inline-block;
       position: absolute;
       top: -10px;
    
   }

   hr.hr2a {
    position: absolute;
    left: -12px;
    margin: 0;
    width: 10px;
    overflow: visible;
}
hr.hr2a > p {
   content: '0';
   margin: 0;
   display: inline-block;
   position: absolute;
   top: -10px;
}
.SQUARE2 {
    display: none;
    right: calc(-100% - 5vw);
}
.squar {
    position: absolute;
    display: grid;
    justify-content: center;
    width: 12%;
    height: 0px;
    padding-bottom: 14%;
    background-color: black;
}
.squarp {
    transition-duration: 0.5s;
    opacity: 0;
    position: relative;
    top: -67%;
    cursor: default;
}
.squar:hover .squarp {
    transition-duration: 0.5s;
opacity: 100;
}
.pnumber {
    width: max-content;
    opacity: 0;
    position: absolute;
    transition-duration: 0.5s;
    background-color: black;
   color: white;
   border-radius: 5px;
   padding: 3px;
   display: grid;
   justify-items: center;
}
.pnumber > .porcarrow {
    position: absolute;
    transform:rotate(45deg);
    top: calc(80%);
    width: 8px;
    height: 8px;
    background-color: black;
}
    .bar:hover .pnumber {
        transition-duration: 0.5s;
        opacity: 100;
    }

    @keyframes baran {

        0% {
            transform: translateY(100%) scaleY(100%);
        }
    
       
    }

    @keyframes hidden {
        0% {
            overflow: hidden;
        }
    }
    #medten {
        display: none;
    }
    #dela {
        display: none;
    }
    #tagra {
        display: none;
    }
    @keyframes popup {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100;
        }
    }
 
    .blacko {
        position: absolute;
        height: 0px;
        background-color: blueviolet;
        z-index: 3;
        display: grid;
        justify-items: center;
    }
    .linha {
        display: block;
        position: absolute;
        background-color: blue;
        z-index: 7;
        height: 5px;
    }
    .config {
        opacity: 0;
        display: inline-block;
        position: relative;
        width: 380px;
        left: calc((100% - 380px) / 2);
        height: 30%;
        z-index: 4;
        top: 0%;
        background-color: rgba(231, 231, 231, 0.931);
        border-radius: 10px;
    }
    .config p {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 0px;
        padding: 15px 1px 0px 15px;
    }
    .person {
        cursor: pointer;
        transition-duration: 0.3s;
        opacity: 0;
        position: absolute;
        background-color: rgb(231, 231, 231);
        padding: 5px;
        border-radius: 50%;
        top: 260px;
        left: calc(100% - 45px); 
        display: grid;
        align-items: center;
        justify-items: center;
        z-index: 6;
        height: 30px;
        width: 30px;
    }
    .person:active {
       background-color: rgb(206, 206, 206);
    }
    .person > img#f {
        cursor: pointer;
        transition-duration: 0.3s;
        width: 30px;
        height: 30px;
    }
    .person > img#s {
        cursor: pointer;
        width: 15px;
        height: 15px;
    }
    .person:hover {
        transition-duration: 0.3s;
        opacity: 100;
    }
    input[type= "checkbox"] {
        cursor: pointer;
    }
    @keyframes sho {
        0% {
            background-color: rgb(231, 231, 231) ;
        }
        100% {
            background-color: transparent;
        }
    }
    @keyframes sho2 {
        0% {
            opacity: 100;
        }
        100% {
            opacity: 0;
        }
    }
   
   
    
    